{% extends "base.html" %} {% block title %}Race{% endblock %}
{% block content %} 

<body class="bg-dark text-white">
    <header class="bg-secondary text-center p-3 mb-5">
        <h1>Ready to Race?</h1>
    </header>

    <div class="container text-center">

        <!-- Word & Input -->
        <div class="row">
            <div class="col-md-7 mx-auto">
                <p class="lead" id="count-down">Type the following as quickly as possible! Starting in 
                    <span class="text-success" id="seconds">5</span>
                    seconds...
                </p>
                <h2 class="display-6 mb-5" id="chosen-phrase"></h2>
                <input type="text" class="form-control form-control-lg" placeholder="Type here..." id="word-input" readonly="readonly"autofocus>
                <h4 class="mt-3" id="message"></h4>

                <!--Words per minute columns-->
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h3>Words per minute:
                            <span id="wpm">0</span>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <h3>Accuracy:
                            <span id="accuracy">100</span>%
                        </h3>
                    </div>
                </div>
                <div style="visibility: hidden" id="next-game" class="row mt-5">
                    <p>Want to practice your mistakes? Click <a href="#" id="start-over">here</a>!</p>
                    <form action="/run_script" method="POST">
                        <input type="text" name="param_name">
                        <button type="submit">Run Script</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='game.js')}}"></script>

{% endblock %}