{% extends "base.html" %} {% block title %}Race{% endblock %}
{% block content %} 
<head>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-dark text-white">
    <header class="bg-secondary text-center p-3 mb-5">
        <h1>Ready to Race?</h1>
    </header>

    <div class="container text-center">

        <!-- Word & Input -->
        <div class="row">
            <div class="col-md-10 mx-auto">
                <p class="lead" id="count-down">Type the following as quickly as possible! Starting in 
                    <span class="text-success" id="seconds">5</span>
                    seconds...
                </p>
                <h3 style="white-space: pre-wrap"class="display-6 mb-5" id="chosen-phrase"><span id="comp-phrase"></span></h3>
                <input type="text" class="form-control form-control-lg" placeholder="Type here..." id="word-input" readonly="readonly"autofocus>
                <h4 class="mt-3" id="message"></h4>

                <!--Words per minute columns-->
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5>Words per minute:
                            <span id="wpm">0</span>
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Accuracy:
                            <span id="accuracy">100</span>%
                        </h5>
                    </div>
                </div>
                <br>
                <!--Generate new sentence column-->
                <div class="row ">
                    <div style="visibility: hidden" id="next-game" class="col-md-10 mx-auto">
                        <div>
                            <p>Try improving on your mistakes!</p>
                        </div>
                        <div>
                            <p id="wait-please"style="visibility: hidden" style="color: #FFC733"> Please wait... Your new practice text is being generated...</p>
                        </div>
                        <form>
                            <button type="button" class="btn btn-primary" id="run-script-btn">Generate Text</button>
                        </form>
                    </div>  
                </div>
                <div id="charts" class="row">
                    <div class="col-md-6">
                        <canvas id="wpmChart">
                        </canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="accuracyChart">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='game.js')}}"></script>

<script>
    $(document).ready(function() {
    $('#run-script-btn').click(function(event) {
        event.preventDefault(); // prevent default form submit behavior
        var param = $('#param-input').val();

        $.ajax({
            url: '/run_script',
            method: 'POST',
            data: { combo: combo },
            success: function(output) {
                //$('#output').text(response.output);
                console.log(output)
                output = output.replace('"', '');
                output = output.replace("\n", '');
                output = output.replace('\r\n"', '');
                $('#chosen-phrase').text(output);
                // submit the form manually after the AJAX request completes
                console.log(output)
                //$('form').submit();
                
            },
            error: function(xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        })
        .done(function(output){
            resetText();
        });
        
    });
});
</script>



{% endblock %}